<!DOCTYPE html>
<html>
  <head>
    <title>SpotiCraft Web</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Go check the SpotiCraft mod for Minecraft <a href="https://curseforge.com/minecraft/mc-mods/spoticraft-2">by clicking here</a></p>
  </body>
</html>
