<!DOCTYPE html>
<html>
  <head>
    <title>SpotiCraft Web</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Go check the SpotiCraft mod for Minecraft -> link</p>
  </body>
</html>
